<div class="main-container">
    <div class="navbar breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><a href="/home/open">Overview</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Managers </li>
        </ol>
      </nav>
  
      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">...</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-danger" routerLink="/home/details">More Details</a>
            <a class="dropdown-item text-danger" routerLink="/home/meeting">Create Meeting</a>
            <a href="javascript:window.print()"class="dropdown-item text-danger">
                Print Current Page</a>
        </div>
      </div>
    </div>
    <br/>

<div id="myModaladd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myModalLabel">Add Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">First Name : </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="firstname" [(ngModel)]="manager.firstname">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Last Name : </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="lastname" [(ngModel)]="manager.lastname">
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email : </label>
          <div class="col-sm-10">
            <input class="form-control" type="email" name="mail" [(ngModel)]="manager.mail">
          </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password : </label>
            <div class="col-sm-10">
              <input class="form-control" type="password" name="mail" [(ngModel)]="manager.password">
            </div>
          </div>


       


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                (click)="addmanager(manager)">Save
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="myModalupdate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myModalLabel">Update Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">First Name : </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="firstname" [(ngModel)]="manager.firstname">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Last Name : </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="lastname" [(ngModel)]="manager.lastname">
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email : </label>
          <div class="col-sm-10">
            <input class="form-control" type="email" name="mail" [(ngModel)]="manager.mail">
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Password : </label>
          <div class="col-sm-10">
            <input class="form-control" type="password" name="password" [(ngModel)]="manager.password">
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                (click)="updatemanager(manager)">Save
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <div class="col-xl-20">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 m-b-15 header-title">All Managers : </h4>
                <button type="button" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target="#myModaladd">
                  Add Manager
                </button>
                <br/>
                <br/>
                <div class="table-responsive">
                    
                    <table class="table table-hover mb-5">
                      
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>password</th>
    <th>View Profil</th>
    <th>Status</th>
    <th>Role</th>
    <th>Delete</th>
    <th>Update</th>
    

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of managers ">
    <td >{{a.firstname}}</td>
    <td >{{a.lastname}}</td>
    <td >{{a.mail}}</td>
    <td >{{a.password}}</td>
    <td >
        <span class="badge badge-info">Active</span>
    </td>
    <td >{{a.role}}</td>
    <td >
        <button type="button" (click)="remove(a._id)"><i class="fas fa-trash-alt"></i></button>
      </td>
      <td >
        <button type="button" (click)="edit(a)" data-toggle="modal" data-target="#myModalupdate"><i
          class="fas fa-user-edit"></i></button>
      </td>
  
    <td >{{a.password}}</td>
  </tr>
  </tbody>
  <br/>
  <br/>
  <nav aria-label="Page navigation example">
      <ul class="pagination">
          <li class="page-item"><a class="page-link" routerlink="/home/gestionmanager">Previous</a></li>
          <li class="page-item"><a class="page-link" routerlink="/home/gestionmanager">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
  </nav>
</table>
            </div>
          </div>
        </div>
          </div>