<div class="example-container">
  <div class="card m-b-30">
    <div class="card-body">
      <h4 class="mt-0 m-b-15 header-title" style="font-family: Georgia, 'Times New Roman', Times, serif ; font-size: 30px ; color : #d83431">Tache  Properties :</h4>

      <table id="customers">
        <thead>
        <tr>
          <th>Title :</th>
          <td>{{tache.title}}</td>
        </tr>
        <tr>
          <th>Start_Date</th>
          <td>{{tache.start_day|date}}</td>
        </tr>
        <tr>
          <th>End_Date</th>
          <td>{{tache.end_day|date}}</td>
        </tr>
        <tr>
          <th>Priority</th>
          <td>{{tache.priority}}</td>
        </tr>

        <tr>
          <th>Estimation</th>
          <td>
            <p>Weeks : <span>{{tache['estimation'].week_nb}}</span></p>
            <p>Days : <span>{{tache['estimation'].days_nb}}</span></p>
            <p>Hours : <span>{{tache['estimation'].hours_nb}}</span></p>
          </td>
        </tr>

        </thead>
      </table>
    </div>
  </div>
</div>
