<div class="example-container">
  <div class="card m-b-30">
    <div class="card-body">
      <h4 class="mt-0 m-b-15 header-title" style="font-family: Georgia, 'Times New Roman', Times, serif ; font-size: 30px ; color : #d83431">Sprint  Properties :</h4>

      <table id="customers">
        <thead>
        <tr>
          <th>Title :</th>
          <td>{{sprint.title}}</td>
        </tr>
        <tr>
          <th>Start_Date</th>
          <td>{{sprint.start_day|date}}</td>
        </tr>
        <tr>
          <th>End_Date</th>
          <td>{{sprint.end_day|date}}</td>
        </tr>
        <tr>
          <th>Priority</th>
          <td>{{sprint.priority}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{sprint.descreption}}</td>
        </tr>
        <tr>
          <th>Estimation</th>
          <td>
            <p>Weeks : <span>{{sprint['estimation'].week_nb}}</span></p>
            <p>Days : <span>{{sprint['estimation'].days_nb}}</span></p>
            <p>Hours : <span>{{sprint['estimation'].hours_nb}}</span></p>
          </td>
        </tr>

        </thead>
      </table>
    </div>
  </div>
</div>
<div id="myModaladd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="save_state=='add'" class="modal-title mt-0" id="myModalLabel2">New Tache :</h5>
        <h5 *ngIf="save_state=='edit'" class="modal-title mt-0" id="myModalLabel3">Edit Tache :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <!--ADDDDDDDDDDDDDDD-->

        <form [formGroup]="tache_f" class="normal-form">
          <mat-grid-list cols="2" rowHeight="460px">
            <mat-grid-tile>
              <div class="controles-container">
                <mat-form-field>
                  <input formControlName="title" matInput placeholder="Title *" >
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <div>
                  <mat-form-field>
                    <input formControlName="start_day" matInput [matDatepicker]="picker" placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="end_day" matInput [matDatepicker]="picker3" placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
                <mat-form-field>
                  <mat-select formControlName="priority" placeholder="Priority " >
                    <mat-option>None</mat-option>
                    <ng-container *ngFor="let priority of priorities">
                      <mat-option value="{{priority.id}}">{{priority.value}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <h6 style="font-size: small;color: #adb5bd ">Estimation</h6>
                <mat-form-field>
                  <input formControlName="week" type="number" matInput placeholder="Number of weeks *" >
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="day" type="number" matInput placeholder="Number of Days *" >
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="hour" type="number" matInput placeholder="Number of Hours *" >
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="controles-container">
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                  <button *ngIf="save_state=='add'" type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                          (click)=" add_tache()"   >Save
                  </button>
                  <button *ngIf="save_state=='edit'" type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                          (click)="edit_tache()" >Save
                  </button>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--////////////////////////table/////////////////////////////////-->
<div class="example-container">
  <div class="card m-b-30">
    <div class="card-body">
      <h4 class="mt-0 m-b-15 header-title" style="font-family: Georgia, 'Times New Roman', Times, serif ; font-size: 30px ; color : #d83431">List of associated Taches :</h4>


      <div class="col-xl-20">
        <div class="card m-b-30">
          <div class="card-body">
            <button mat-raised-button color="warn" data-toggle="modal" data-target="#myModaladd" style="float: left;" (click)="go_toadd()" *ngIf="role=='admin'">
              Add Tache
            </button>
            <div style="padding: 2%"></div>
            <table  id="customers" *ngIf="sprint['taches'].length!=0" >
              <thead>
              <tr>
                <th>
                  Title
                </th>
                <th>
                  Start_day
                </th>
                <th>
                  End_day
                </th>

                <th *ngIf="role=='admin'">Update</th>
                <th *ngIf="role=='admin'">
                  Delete
                </th>
                <th>
                  Details
                </th>

              </tr>
              </thead>
              <tbody>


              <tr *ngFor="let t of list_taches | filter:term">
                <td>
                  {{t.title}}

                </td>
                <td >
                  {{t.start_day | date }}
                </td>
                <td>
                  {{t.end_day  | date}}
                </td>

                <td *ngIf="role=='admin'">
                  <button mat-icon-button color="warn" (click)="go_to_edit(t)" data-toggle="modal" data-target="#myModaladd">
                    <i
                      class="fas fa-user-edit"></i>
                  </button>

                </td>
                <td *ngIf="role=='admin'">
                  <button mat-icon-button color="warn" (click)="dodelete(t._id)"><i class="fas fa-trash-alt"></i></button>
                </td>
                <td>
                  <button mat-icon-button color="gray" routerLink="/home/details_t/{{t._id}}"><i class="fas fa-info-circle"></i></button>
                </td>
              </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
