@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar{
  background-color: white;
  height: 80px;

}
.navbar .breadcrumb-item{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.mat-dialog-container{
  z-index: 1000;
}
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
.mat-select-menu-container {z-index: 9999!important; }
#customers td, #customers th {
  border: 1px solid #000000;
  padding: 8px;
}
#customers{
  width: 1200px;
  text-align: right;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:gray;
  color: white;
  border-right-color: #ffffff00;
}
#customers td {

  text-align: left;

}
