<div class="main-container">
    <div class="navbar breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><a href="/home/open">Overview</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Projects </li>
        </ol>
      </nav>

      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">...</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-danger" routerLink="/home/details">More Details</a>
            <a class="dropdown-item text-danger" routerLink="/home/meeting">Create Meeting</a>
            <a href="javascript:window.print()"class="dropdown-item text-danger">
                Print Current Page</a>
            </div>
        </div>
      </div>
    </div>
    <br/>


    <div id="myModaladd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 *ngIf="save_state=='add'" class="modal-title mt-0" id="myModalLabel2">New Project :</h5>
            <h5 *ngIf="save_state=='edit'" class="modal-title mt-0" id="myModalLabel3">Edit Project :</h5>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">

            <!--ADDDDDDDDDDDDDDD-->

   <form [formGroup]="form" class="normal-form">
      <mat-grid-list cols="2" rowHeight="550px">
        <mat-grid-tile>
          <div class="controles-container">
            <mat-form-field>
              <input formControlName="nomprojet" matInput placeholder="Name *" >
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="nomclient" matInput placeholder="Client *" >
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="manager" placeholder="Manageres " >
                <ng-container *ngFor="let m of list_mangeres">
                  <mat-option value="{{m._id}}">{{m.firstname + ' '+m.Lastname}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <div>
                <mat-form-field>
                    <input formControlName="datedebut" matInput [matDatepicker]="picker" placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                      <input formControlName="datefin" matInput [matDatepicker]="picker3" placeholder="End Date">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>

                  </div>
            <mat-form-field>
              <mat-select formControlName="priority" placeholder="Priority " >
                <mat-option>None</mat-option>
                <ng-container *ngFor="let priority of priorities">
                  <mat-option value="{{priority.id}}">{{priority.value}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="estimation" matInput placeholder="Estimation *" >
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
              <mat-form-field dividerColor="primary" class="ml-xs mr-xs" style="width: 100%;height: 150%">
                <textarea  rows="6" matInput placeholder="Description" formControlName="descreption" ></textarea>
              </mat-form-field>

            </div>

          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="controles-container">
            <div class="modal-footer">
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                      <button *ngIf="save_state=='add'" type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                              (click)="add_project()">Save
                      </button>
              <button *ngIf="save_state=='edit'" type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                      (click)="edit_project()">Save
              </button>
                    </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  <!--UPDATE-->

   <!-- <div id="myModalupdate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mt-0" id="myModalLabel">Update Project :</h5>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">


            <form [formGroup]="form" class="normal-form">
              <mat-grid-list cols="2" rowHeight="550px">
                <mat-grid-tile>
                  <div class="controles-container">
                    <mat-form-field>
                      <input formControlName="nomprojet" matInput placeholder="Name *" >
                      <mat-error>This field is mandatory.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <input formControlName="nomclient" matInput placeholder="Client *" >
                      <mat-error>This field is mandatory.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select formControlName="manager" placeholder="Manageres " >
                        <ng-container *ngFor="let m of list_mangeres">
                          <mat-option value="{{m._id}}">{{m.firstname + ' '+m.Lastname}}</mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                    <div>
                      <mat-form-field>
                        <input formControlName="datedebut" matInput [matDatepicker]="picker" placeholder="Start Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field>
                        <input formControlName="datefin" matInput [matDatepicker]="picker3" placeholder="End Date">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                      &lt;!&ndash;<mat-form-field>
                        <input matInput [matDatepicker]="dp" placeholder="Verbose datepicker" >
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp ></mat-datepicker>
                      </mat-form-field>&ndash;&gt;
                    </div>
                    <mat-form-field>
                      <mat-select formControlName="priority" placeholder="Priority " >
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let priority of priorities">
                          <mat-option value="{{priority.id}}">{{priority.value}}</mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <input formControlName="estimation" matInput placeholder="Estimation *" >
                      <mat-error>This field is mandatory.</mat-error>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
                      <mat-form-field dividerColor="primary" class="ml-xs mr-xs" style="width: 100%;height: 150%">
                        <textarea  rows="6" matInput placeholder="Description" formControlName="description" ></textarea>
                      </mat-form-field>

                    </div>

                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="controles-container">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                              (click)="add_project()">Save
                      </button>
                    </div>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </form>
          </div>

        </div>&lt;!&ndash; /.modal-content &ndash;&gt;
      </div>&lt;!&ndash; /.modal-dialog &ndash;&gt;
    </div>-->


    <div class="col-xl-20">
        <div class="card m-b-30">
            <div class="card-body">
              <button mat-raised-button color="warn" data-toggle="modal" data-target="#myModaladd" style="float: left;" (click)="go_toadd()" *ngIf="role=='admin'">
                Add Project
              </button>
              <div style="padding: 2%"></div>
              <table  id="customers" >
         <thead>
         <tr>
                <th>
                    Name
                </th>
                <th>
                    Client
                </th>
                <th>
                    Team
                </th>
                <th>
                    Start Date
               </th>
               <th>
                  End Date
             </th>
                <th *ngIf="role!='manager'">
                     Managers
                </th>
             <th>
                Priority
            </th>
            <th>
            Add Modules
            </th>
            <th *ngIf="role=='admin'">Update</th>
            <th *ngIf="role=='admin'">
            Delete
            </th>
            <th>
            Details
            </th>

            </tr>
         </thead>
         <tbody>


            <tr *ngFor="let proj of projets | filter:term">
                <td>
             {{proj.nomprojet}}

                </td>
                <td>
                    {{proj.nomclient}}
                  </td>
                  <td *ngIf="proj['teams']">  <button mat-icon-button color="green">
                    <i class="fas fa-check"></i>

                  </button></td>
                  <td *ngIf="!proj['teams']"> <i class="fas fa-spinner fa-pulse"></i></td>

                    <td >
                        {{proj.datedebut | date }}
                      </td>
                      <td>
                          {{proj.datefin  | date}}
                        </td>
                        <td *ngIf="role!='manager'&&proj['manager'].length!=0">
                          <button mat-icon-button color="green">
                            <i class="fas fa-check"></i>

                          </button>

                          </td>
                   <td *ngIf="role!='manager'&&proj['manager'].length==0">
                     <button mat-icon-button color="warn">
                       <i class="fas fa-spinner fa-pulse"></i>

                     </button>
                   </td>
                          <td>
                              {{proj.priority}}
                            </td>
                            <td *ngIf="proj['Modules'].length==0">
                                <button mat-icon-button color="warn">
                                    <i class="fas fa-spinner fa-pulse"></i>

                                </button>
                              </td>
              <td *ngIf="proj['Modules'].length!=0">
                <button mat-icon-button color="green">
                  <i class="fas fa-check"></i>

                </button>
              </td>
                              <td *ngIf="role=='admin'">
                                        <button mat-icon-button color="warn" (click)="go_to_edit(proj)" data-toggle="modal" data-target="#myModaladd">
                                            <i
                                            class="fas fa-user-edit"></i>
                                          </button>

                                          </td>
                             <td *ngIf="role=='admin'">
                                      <button mat-icon-button color="warn" (click)="dodelete(proj._id)"><i class="fas fa-trash-alt"></i></button>
                                     </td>
              <td>
                <button mat-icon-button color="gray"  routerLink="/home/details_p/{{proj._id}}" ><i class="fas fa-info-circle"></i></button>
              </td>
            </tr>
         </tbody>
       </table>


</div>
</div>
</div>
  
  
  
  
