<div class="main-container">
    <div class="navbar breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home/open">Overview</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a [routerLink]="['/home/configprojet']" routerLinkActive="router-link-active" >Projects</a> </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a [routerLink]="['/home/configlot/:id']" routerLinkActive="router-link-active" >Sprints </a> </li>
          <li class="breadcrumb-item active" aria-current="page">Tasks </li>
        </ol>
      </nav>
  
      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">...</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
  
          
          <a class="dropdown-item text-danger" routerLink="/home/details">More Details</a>
          <a class="dropdown-item text-danger" [routerLink]="['/home/meeting']" routerLinkActive="router-link-active" >Create Meeting</a>
          
          <a href="javascript:window.print()"class="dropdown-item text-danger">
              Print Current Page</a>  
        </div>
      </div>
  
    </div> 
    <br/>
  

  <div id="myModaladd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0" id="myModalLabel">Task :</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Story : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="title" [(ngModel)]="tache.title">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Start Date : </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="start" [(ngModel)]="tache.start">
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">End Date : </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="end" [(ngModel)]="tache.end">
            </div>
          </div>
         
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Priority : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="priority" [(ngModel)]="tache.priority">
            </div>
          </div>



          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="description" [(ngModel)]="tache.description">
            </div>
          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                  (click)="addtache(this.idP,tache)">Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="myModalupdate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0" id="myModalLabel">Update Task : </h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Label : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="title" [(ngModel)]="tache.title">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Start Date : </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="start" [(ngModel)]="tache.start">
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label"> End Date : </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="end" [(ngModel)]="tache.end">
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Priority : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="priority" [(ngModel)]="tache.priority">
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Description : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="description" [(ngModel)]="tache.description">
            </div>
          </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                  (click)="updatetache(this.idP,this.idL,tache)">Save
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-20">
      <div class="card m-b-30">
          <div class="card-body">
  <h4>List of Tasks from Project :{{this.nomprojet}} :{{this.nomlot}}
    </h4>
    <br>
    <button type="button" class="btn btn-danger  waves-effect waves-light" data-toggle="modal" data-target="#myModaladd">
     Add Task
    </button>
    <br/>
    <br/>
  <table class="table table-striped m-b-0">
    <thead>
    <tr>
      <th>Label </th>
      <th>Start Date </th>
      <th>End Date</th>
      <th>Estimation</th>
      <th>Priority </th>
      <th>Description </th>

      <th>Delete Task </th>
      <th>Update Task </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of taches">
      <td >{{a.title}}</td>
      <td >{{a.start | date}}</td>
      <td >{{a.end | date }}</td>
      <td >{{findbydate(a.start| date :'dd'  ,  a.end | date : 'dd')}} Days</td>
      <td >{{a.priority}}</td>
      <td >{{a.description}}</td>
      <td >
        <button type="button" (click)="remove(this.idP,this.idL,a._id)"><i class="fas fa-trash-alt"></i></button>
      </td>
      <td >
        <button type="button" (click)="edit(a)" data-toggle="modal" data-target="#myModalupdate"><i
          class="fas fa-user-edit"></i></button>
      </td>

    </tr>

    </tbody>
    <br/>
    <br/>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" routerLink="/home/gestionchefdeprojet">Previous</a></li>
            <li class="page-item"><a class="page-link" routerLink="/home/gestionchefdeprojet">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
  </table>
</div>
</div>
</div>
</div>

