.pos{
    position: center;
}
#customers td, #customers th {
  border: 1px solid #000000;
  padding: 8px;
}
#customers{
  width:800px;
  text-align: right;
}





#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#f2f2f2;
  color: black;
  font-weight: bold;
}
#customers td {

  text-align: left;

}

#customers1 td, #customers1 th {
  border: 1px solid #000000;
  padding: 8px;
}
#customers1{
  width:450px;
  text-align: right;
}





#customers1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#f2f2f2;
  color: black;
  font-weight: bold;
}
#customers1 td {
  font-weight: normal;
  text-align: left;

}
