<div class="example-container">
    <div class="card m-b-30">
        <div class="card-body">
            <h4 class="mt-0 m-b-15 header-title" style="font-family: Georgia, 'Times New Roman', Times, serif ; font-size: 30px ; color : #d83431">Projects  Properties :</h4>

          <table id="customers">
            <thead>
            <tr>
              <th>Project_Name</th>
              <td>{{project.nomprojet}}</td>
            </tr>
            <tr>
              <th>Client_Name</th>
              <td>{{project.nomclient}}</td>
            </tr>
            <tr>
              <th>Start_Date</th>
              <td>{{project.datedebut|date}}</td>
            </tr>
            <tr>
              <th>End_Date</th>
              <td>{{project.datefin|date}}</td>
            </tr>
            <tr>
              <th>Priority</th>
              <td>{{project.priority}}</td>
            </tr>
            <tr>
              <th>Estimation</th>
              <td>{{project.estimation}}</td>
            </tr>
            <tr>
              <th>Descreption</th>
              <td>{{project.descreption}}</td>
            </tr>
            <tr>
              <th>List_Manageres</th>
              <td><p *ngFor="let m of project['manager']">{{m['firstname']}}</p></td>
            </tr>
            <tr>
              <th>List_ project_managers</th>
              <td *ngIf="project['chef_projet'].length!=0"><a style="color: #f44336;text-decoration: underline" data-toggle="modal" data-target="#myModallistchef">View</a></td>
              <td *ngIf="project['chef_projet'].length==0"><i class="fas fa-spinner fa-pulse"></i></td>
            </tr>
            <tr>
              <th>Team_Name</th>
              <td *ngIf="project['teams']"><p data-toggle="modal" data-target="#myModallistemployee" style="color: #f44336;text-decoration: underline">{{project['teams'].team_name}}</p></td>
              <td *ngIf="!project['teams']"><i class="fas fa-spinner fa-pulse"></i></td>
            </tr>
            </thead>
          </table>
          <br>

          <button mat-raised-button color="warn" data-toggle="modal" data-target="#myModalassign" style="float: left;" (click)="go_toadd()" *ngIf="role=='manager'" >
            Assign project managers
          </button>
          <button mat-raised-button color="warn" data-toggle="modal" data-target="#myModaladd_team" style="float: left;" (click)="go_toadd()" *ngIf="role=='chef_projet'" >
            Add a Team
          </button>
        </div>
       </div>
       </div>




<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;MODAAAAAAALL-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<div id="myModaladd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="save_state=='add'" class="modal-title mt-0" id="myModalLabel2">New Module :</h5>
        <h5 *ngIf="save_state=='edit'" class="modal-title mt-0" id="myModalLabel3">Edit Module :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <!--ADDDDDDDDDDDDDDD-->

        <form [formGroup]="module_f" class="normal-form">
          <mat-grid-list cols="2" rowHeight="600px">
            <mat-grid-tile>
              <div class="controles-container">
                <mat-form-field>
                  <input formControlName="title" matInput placeholder="Title *" >
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <div>
                  <mat-form-field>
                    <input formControlName="datedebut" matInput [matDatepicker]="picker" placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="datefin" matInput [matDatepicker]="picker3" placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
                <mat-form-field>
                  <mat-select formControlName="priority" placeholder="Priority " >
                    <mat-option>None</mat-option>
                    <ng-container *ngFor="let priority of priorities">
                      <mat-option value="{{priority.id}}">{{priority.value}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <h6 style="font-size: small;color: #adb5bd ">Estimation</h6>
                <mat-form-field>
                  <input formControlName="week" type="number" matInput placeholder="Number of weeks *" >
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="day" type="number" matInput placeholder="Number of Days *" >
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="hour" type="number" matInput placeholder="Number of Hours *" >
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
                  <mat-form-field dividerColor="primary" class="ml-xs mr-xs" style="width: 100%;height: 150%">
                    <textarea  rows="6" matInput placeholder="Description" formControlName="descreption" ></textarea>
                  </mat-form-field>

                </div>

              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="controles-container">
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                  <button *ngIf="save_state=='add'" type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                       (click)=" add_module()"   >Save
                  </button>
                  <button *ngIf="save_state=='edit'" type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                         (click)="edit_module()" >Save
                  </button>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="myModalassign" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="save_state=='add'" class="modal-title mt-0" id="myModalLabel2">New Module :</h5>
        <h5 *ngIf="save_state=='edit'" class="modal-title mt-0" id="myModalLabel3">Edit Module :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <!--ADDDDDDDDDDDDDDD-->

        <form [formGroup]="module_f" class="normal-form">
          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
              <div class="controles-container">
                <mat-form-field>
                  <mat-select formControlName="chef" placeholder="Project managers" >
                    <ng-container *ngFor="let ch of list_chef">
                      <mat-option value="{{ch._id}}">{{ch.firstname + ' '+ch.Lastname}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>

              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="controles-container">
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                  <button  type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                          (click)="assign_project_manager()"   >Save
                  </button>

                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="myModallistchef" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title mt-0" id="myModalLabel2">List_Project_managers :</h5>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <!--ADDDDDDDDDDDDDDD-->


        <table id="customers1" >
          <thead>
          <tr>
          <th>first_name</th>
          <th>Last_name</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of list_project_manager">
            <th>{{d.firstname}}</th>
            <th>{{d.Lastname}}</th>
            <th>{{d.Mail}}</th>
          </tr>
          </tbody>
        </table>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="myModaladd_team" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title mt-0" id="myModalLabel2">ADD Team :</h5>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <!--ADDDDDDDDDDDDDDD-->
        <form [formGroup]="module_f">
        <mat-form-field>
          <input formControlName="teamname" matInput placeholder="Team_Name *" >
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="employee" placeholder="Employees" multiple >
            <ng-container *ngFor="let m of list_empl">
              <mat-option value="{{m._id}}">{{m.firstname + ' '+m.Lastname}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        </form>

        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
        &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <button  type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
             (click)="addteam() " i  >Save
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="myModallistemployee" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title mt-0" id="myModalLabel2">List_Employees :</h5>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <!--ADDDDDDDDDDDDDDD-->


        <table id="customers1" >
          <thead>
          <tr>
            <th>first_name</th>
            <th>Last_name</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of team">
            <th>{{d.firstname}}</th>
            <th>{{d.Lastname}}</th>
            <th>{{d.Mail}}</th>
          </tr>
          </tbody>
        </table>
        <br>
        <button mat-raised-button color="warn" (click)="assign_employee()
"  style="float: left;" *ngIf="role=='chef_projet'" >
          Assign Employees
        </button>
        &nbsp; &nbsp; &nbsp;

        <form [formGroup]="module_f" class="normal-form" *ngIf="assign_empl" >
          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
              <div class="controles-container">
                <mat-form-field>
                  <mat-select formControlName="employee" placeholder="Employees" >
                    <ng-container *ngFor="let ch of list_empl">
                      <mat-option value="{{ch._id}}">{{ch.firstname + ' '+ch.Lastname}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>

              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="controles-container">
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger waves-effect" (click)="cancel_assign()" >Close</button>
                  <button  type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                           (click)="add_employee()"   >Assign
                  </button>

                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </form>




      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;endMODAL&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<div class="example-container" >
          <div class="card m-b-30">
              <div class="card-body">
                  <h4 class="mt-0 m-b-15 header-title" style="font-family: Georgia, 'Times New Roman', Times, serif ; font-size: 30px ; color : #d83431">List of associated Modules :</h4>


                <div class="col-xl-20">
                  <div class="card m-b-30">
                    <div class="card-body">
                      <button mat-raised-button color="warn" data-toggle="modal" data-target="#myModaladd" style="float: left;" (click)="go_toadd()" *ngIf="role=='admin'">
                        Add Modules
                      </button>
                      <div style="padding: 2%"></div>
                      <table  id="customers" *ngIf="project['Modules'].length!=0" >
                        <thead>
                        <tr>
                          <th>
                            Title
                          </th>
                          <th>
                            Start_day
                          </th>
                          <th>
                            End_day
                          </th>
                          <th>
                            Sprints
                          </th>
                          <th *ngIf="role=='admin'">Update</th>
                          <th *ngIf="role=='admin'">
                            Delete
                          </th>
                          <th>
                            Details
                          </th>

                        </tr>
                        </thead>
                        <tbody>


                        <tr *ngFor="let m of list_modules | filter:term">
                          <td>
                            {{m.title}}

                          </td>
                          <td >
                            {{m.start_day | date }}
                          </td>
                          <td>
                            {{m.end_day  | date}}
                          </td>
                          <td *ngIf="m['Sprints'].length==0" >
                            <button mat-icon-button color="warn">
                              <i class="fas fa-spinner fa-pulse"></i>
                            </button>
                          </td>
                          <td *ngIf="m['Sprints'].length!=0">
                            <button mat-icon-button color="green">
                              <i class="fas fa-check"></i>

                            </button>
                          </td>
                          <td *ngIf="role=='admin'">
                            <button mat-icon-button color="warn" (click)="go_to_edit(m)" data-toggle="modal" data-target="#myModaladd">
                              <i
                                class="fas fa-user-edit"></i>
                            </button>

                          </td>
                          <td *ngIf="role=='admin'">
                            <button mat-icon-button color="warn" (click)="dodelete(m._id)"><i class="fas fa-trash-alt"></i></button>
                          </td>
                          <td>
                            <button mat-icon-button color="gray" routerLink="/home/details_m/{{m._id}}"><i class="fas fa-info-circle"></i></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>




                    </div>
                  </div>
                </div>
        </div>
      </div>
      </div>
