<div class="accountbg"></div>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center mt-0 m-b-15">
                <a href="index.html" class="logo logo-admin"><img src="assets/images/téléchargement.png" height="100" alt="logo"></a>
            </h3>

            <h4 class="text-muted text-center font-18"><b>Register</b></h4>

            <div class="p-3">
                <form class="form-horizontal m-t-20" action="index.html">
                  <div class="form-group row">
                  <div class="col-12">

                    <mat-form-field class="example-full-width" style="width: 420px">
                      <input matInput placeholder="First Name" [(ngModel)]="user.firstname" name="firstname">
                    </mat-form-field>

                  </div>
                </div>
                  <div class="form-group row">
                    <div class="col-12">

                      <mat-form-field class="example-full-width" style="width: 420px">
                        <input matInput placeholder="Last Name" [(ngModel)]="user.Lastname" name="lastname" >
                      </mat-form-field>

                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12">

                      <mat-form-field class="example-full-width" style="width: 420px">
                        <input matInput placeholder="UserName" [(ngModel)]="user.Username" name="username" >
                      </mat-form-field>

                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12">

                      <mat-form-field class="example-full-width" style="width: 420px" >
                        <input type="email" name="email" matInput placeholder="Email"w >
                      </mat-form-field>

                    </div>
                  </div>
                  <div class="form-group row">
                        <div class="col-12">
                          <mat-form-field  class="example-full-width" style="width: 420px">
                            <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="user.password" >
                          </mat-form-field>
                        </div>
                    </div>
                  <div class="form-group row">
                    <div class="col-12">

                      <mat-form-field style="width: 420px"   >
                        <mat-label>Role</mat-label>
                        <select matNativeControl  [(ngModel)]="user.role" name="role"  >
                          <option value="manager">Manager</option>
                          <option value="chef_projet">Chef_Projet</option>
                          <option value="employee">Employee</option>

                        </select>
                      </mat-form-field>


                    </div>
                  </div>


                  <div class="form-group text-center row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-danger btn-block waves-effect waves-light" type="submit" (click)="reset()">Register</button>
                        </div>
                    </div>

                    <div class="form-group m-t-10 mb-0 row">
                        <div class="col-12 m-t-20 text-center">
                            <a routerLink="" class="text-muted">Already have account?</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
